orchestration-WorkFlows_Kestra/1_Data_load_Postgres.yaml
# ===================================================================
# FLOW METADATA
# This flow loads NYC Taxi CSV data into PostgreSQL using ETL logic.
# It supports both Yellow and Green taxi datasets.
# ===================================================================

id: Load_Data_into_Postgres_with_ETL
namespace: zoomcamp
description: |
  The CSV Data used in the course: https://github.com/DataTalksClub/nyc-tlc-data/releases


# ===================================================================
# INPUT PARAMETERS
# These inputs allow dynamic selection of taxi type, year, and month
# directly from the Kestra UI.
# ===================================================================

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: green

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020"]
    defaults: "2019"

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"


# ============================================================
# VARIABLES
# These variables dynamically build filenames, table names,
# and retrieve the extracted CSV file path.
# ============================================================

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"
  staging_table: "public.{{inputs.taxi}}_tripdata_staging"
  table: "public.{{inputs.taxi}}_tripdata"
  data: "{{outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"


# ============================================================
# TASKS SECTION
# This section defines the ETL pipeline steps.
# ============================================================

tasks:

  # ============================================================
  # Add execution labels for better traceability in Kestra UI
  # ============================================================
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{render(vars.file)}}"
      taxi: "{{inputs.taxi}}"

  # ============================================================
  # EXTRACT STEP
  # Downloads and unzips the taxi CSV file from GitHub
  # ============================================================
  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}


  # ============================================================
  # YELLOW TAXI PIPELINE
  # This block executes only if taxi = yellow
  # ============================================================

  - id: if_yellow_taxi
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.taxi == 'yellow'}}"
    then:

      # Create final production table if it does not exist
      - id: yellow_create_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
              unique_row_id text,
              filename text,
              VendorID text,
              tpep_pickup_datetime timestamp,
              tpep_dropoff_datetime timestamp,
              passenger_count integer,
              trip_distance double precision,
              RatecodeID text,
              store_and_fwd_flag text,
              PULocationID text,
              DOLocationID text,
              payment_type integer,
              fare_amount double precision,
              extra double precision,
              mta_tax double precision,
              tip_amount double precision,
              tolls_amount double precision,
              improvement_surcharge double precision,
              total_amount double precision,
              congestion_surcharge double precision
          );

      # Create staging table for temporary loading
      - id: yellow_create_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.staging_table)}} LIKE {{render(vars.table)}};

      # Clean staging table before new load
      - id: yellow_truncate_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: TRUNCATE TABLE {{render(vars.staging_table)}};

      # Bulk load CSV into staging table
      - id: yellow_copy_in_to_staging_table
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        from: "{{render(vars.data)}}"
        table: "{{render(vars.staging_table)}}"
        header: true
        columns: [VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge]

      # Generate unique_row_id and track filename
      - id: yellow_add_unique_id_and_filename
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          UPDATE {{render(vars.staging_table)}}
          SET unique_row_id = md5(
              COALESCE(CAST(VendorID AS text), '') ||
              COALESCE(CAST(tpep_pickup_datetime AS text), '') ||
              COALESCE(CAST(tpep_dropoff_datetime AS text), '') ||
              COALESCE(PULocationID, '') ||
              COALESCE(DOLocationID, '') ||
              COALESCE(CAST(fare_amount AS text), '') ||
              COALESCE(CAST(trip_distance AS text), '')
          ),
          filename = '{{render(vars.file)}}';

      # Merge staging data into production table (deduplication)
      - id: yellow_merge_data
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          MERGE INTO {{render(vars.table)}} AS T
          USING {{render(vars.staging_table)}} AS S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT SELECT * FROM {{render(vars.staging_table)}};


  # ============================================================
  # GREEN TAXI PIPELINE
  # Executes only if taxi = green
  # ============================================================

  - id: if_green_taxi
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.taxi == 'green'}}"
    then:

      # Create production table
      - id: green_create_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
              unique_row_id text,
              filename text,
              VendorID text,
              lpep_pickup_datetime timestamp,
              lpep_dropoff_datetime timestamp,
              store_and_fwd_flag text,
              RatecodeID text,
              PULocationID text,
              DOLocationID text,
              passenger_count integer,
              trip_distance double precision,
              fare_amount double precision,
              extra double precision,
              mta_tax double precision,
              tip_amount double precision,
              tolls_amount double precision,
              ehail_fee double precision,
              improvement_surcharge double precision,
              total_amount double precision,
              payment_type integer,
              trip_type integer,
              congestion_surcharge double precision
          );

      # Create staging table
      - id: green_create_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.staging_table)}} LIKE {{render(vars.table)}};

      # Clean staging
      - id: green_truncate_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: TRUNCATE TABLE {{render(vars.staging_table)}};

      # Bulk load CSV
      - id: green_copy_in_to_staging_table
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        from: "{{render(vars.data)}}"
        table: "{{render(vars.staging_table)}}"
        header: true

      # Generate unique ID
      - id: green_add_unique_id_and_filename
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          UPDATE {{render(vars.staging_table)}}
          SET unique_row_id = md5(
              COALESCE(CAST(VendorID AS text), '') ||
              COALESCE(CAST(lpep_pickup_datetime AS text), '') ||
              COALESCE(CAST(lpep_dropoff_datetime AS text), '') ||
              COALESCE(PULocationID, '') ||
              COALESCE(DOLocationID, '') ||
              COALESCE(CAST(fare_amount AS text), '') ||
              COALESCE(CAST(trip_distance AS text), '')
          ),
          filename = '{{render(vars.file)}}';

      # Merge into production table
      - id: green_merge_data
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          MERGE INTO {{render(vars.table)}} AS T
          USING {{render(vars.staging_table)}} AS S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT SELECT * FROM {{render(vars.staging_table)}};


  # ============================================================
  # CLEANUP STEP
  # Removes execution files after workflow completes
  # ============================================================
  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: This will remove output files. Disable if you want to inspect files.


# ============================================================
# PLUGIN DEFAULT CONFIGURATION
# Defines default PostgreSQL connection settings
# ============================================================

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://postgres:5432/ny_taxi
      username: root
      password: root
